@if (formElement(); as formElement) {
  <div class="form-wizard">
    <h1>{{ formElement.name }}</h1>
    <mat-stepper [orientation]="orientation()" #stepper linear>
      @for (step of formElement.steps; track step.title) {
        <mat-step [stepControl]="form.controls[step.id]">
          <ng-template matStepLabel>
            <h2>{{ step.title }}</h2>
          </ng-template>
          @for (category of step.categories; track category.name) {
            <app-category
              [category]="category"
              [stepGroup]="getStepGroup(step.id)"/>
          }
          <div class="stepper-buttons">
            @if (stepper.selectedIndex > 0) {
              <button mat-button matStepperPrevious>
                Vissza
              </button>
            }

            <button mat-button matStepperNext
                    [disabled]="form.controls[step.id].invalid">
              Következő
            </button>
          </div>


        </mat-step>
      }
      <mat-step>
        <ng-template matStepLabel>
          <h2>Ellenőrzés</h2>
        </ng-template>
        <div class="review">
          <p>Ellenőrizze az adatait:</p>
          @for (step of formElement.steps; track step.id) {
            <h3>{{ step.title }}</h3>
            @for (category of step.categories; track category.name) {
              <strong>{{ category.name }}</strong>
              <ul>
                @for (question of category.questions; track question.id) {
                  <li><h4>{{ question.label }}</h4>: {{ getReviewFormValue(step.id, question.id) }}</li>
                }
              </ul>
            }
          }
        </div>
        <div class="stepper-buttons">
          <button mat-button matStepperPrevious>Vissza</button>
          <button (click)="submitForm()" matButton="filled">Küldés</button>
        </div>
      </mat-step>
    </mat-stepper>
  </div>
}
