@if (formElement(); as formElement) {
  <div class="form-wizard">
    <h1>{{ formElement.name }}</h1>
    <mat-stepper [orientation]="orientation()" #stepper linear>
      @for (step of formElement.steps; track step.title) {
        <mat-step [stepControl]="form.controls[step.id]">
          <ng-template matStepLabel>
            {{ step.title }}
          </ng-template>
          @for (category of step.categories; track category.name) {
            <app-category
              [category]="category">
            </app-category>
          }
          <div class="stepper-buttons">
            <button mat-button matStepperPrevious>
              Vissza
            </button>

            <button mat-button matStepperNext
                    [disabled]="form.controls[step.id].invalid">
              Következő
            </button>
          </div>


        </mat-step>
      }
      <mat-step>
        <ng-template matStepLabel>Kitöltés kész</ng-template>

        <p>Az űrlap kitöltése sikeres!</p>
        <div class="stepper-buttons">
          <button mat-button (click)="stepper.reset()">
            Újra
          </button>
          <a matButton="filled" routerLink="/forms">Rendben</a>
        </div>
      </mat-step>
    </mat-stepper>
  </div>
}
