:host {
  display: block;
  width: 100%;
}

.form-wizard {
  max-width: 75rem;
  width: 100%;
  margin: 0 auto;
}

.stepper-buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: end;
}
